/* Fix user-agent */
@font-face {
	font-family: Roboto;
	src: url(../fonts/Roboto-Light.ttf);
}


* {
    box-sizing: border-box;
  }
  
  html {
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
  }
  
  html, input {
    font-family:
      "HelveticaNeue-Light",
      "Helvetica Neue Light",
      "Helvetica Neue",
      Helvetica,
      Arial,
      "Lucida Grande",
      sans-serif;
  }
  
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  
  /* Pages */
  
  .pages {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  
  .page {
    height: 100%;
    position: absolute;
    width: 100%;
  }
  
  
  
  /* Font */
  #idcard:hover{
    cursor: pointer;
  }
  
  .card-header{
    background-color: #E65100;
    color: #FFF3E0;
  }
  #myTabContent{
    height: 200px;
  }
  #myTabContent input{
    width: 100%;
  }
  #All-Room-Messages{	
    height: 170px;
    overflow-x: hidden;
    overflow-y: scroll;
  }
  .username, .message, .log{
    font-family: Roboto; 
  }
  .username{
    font-weight: bold;
  }
  /*log odaya bağlandın falan yazılarını gösteriyor */
  .log{
    font-size: 11px;
    font-style: italic;
  }

  /* The whole thing */
.custom-menu {
  display: none;
  z-index: 1000;
  position: absolute;
  overflow: hidden;
  border: 1px solid #CCC;
  white-space: nowrap;
  font-family: sans-serif;
  background: #FFF;
  color: #333;
  border-radius: 5px;
  padding: 0;
}

/* Each of the items in the list */
.custom-menu li {
  padding: 8px 12px;
  cursor: pointer;
  list-style-type: none;
  transition: all .3s ease;
  user-select: none;
}

.custom-menu li:hover {
  background-color: #DEF;
}