<div class="container">
        <form id="form2" class="form row" action="/userApp/profil/ayarlar" method="POST">
            <div class="col-md-2  mt-4"></div>
            <div class="col-md-4"  style="text-align: center">
                <div class="row mt-4">
                        <div class="col-2 col-md-2">
                            <img class="img" src="/userimg/man1.png" alt="First slide" style="width: 50px;">
                        </div>
                        <div class="col-2 col-md-2">
                            <img class="img" src="/userimg/man2.png" alt="First slide" style="width: 50px;">
                        </div>
                        <div class="col-2 col-md-2">
                            <img class="img" src="/userimg/man3.png" alt="First slide" style="width: 50px;">
                        </div>
                        <div class="col-2 col-md-2">
                            <img class="img" src="/userimg/girl2.png" alt="First slide" style="width: 50px;">
                        </div>
                        <div class="col-2 col-md-2">
                            <img class="img" src="/userimg/girl3.png" alt="First slide" style="width: 50px;">
                        </div>
                        <div class="col-2 col-md-2">
                            <img class="img" src="/userimg/girl4.png" alt="First slide" style="width: 50px;">
                        </div>
                    
                </div>
                <div class="row mb-2">
                    <div class="col-2 col-md-2">
                        <input type="radio" name="userimg" value="man1">
                    </div>
                    <div class="col-2 col-md-2">
                        <input type="radio" name="userimg" value="man2">
                    </div>
                    <div class="col-2 col-md-2">
                        <input type="radio" name="userimg" value="man3">
                    </div>
                    <div class="col-2 col-md-2">
                        <input type="radio" name="userimg" value="girl2">
                    </div>
                    <div class="col-2 col-md-2">
                        <input type="radio" name="userimg" value="girl3">
                    </div>
                    <div class="col-2 col-md-2">
                        <input type="radio" name="userimg" value="girl4">
                    </div>                    
                </div>
                <div class="row mb-2">
                    <select name="cinsiyet" class="custom-select">
                        <option selected>Cinsiyetini Seç</option>
                        <option value="1">Erkek</option>
                        <option value="2">Kadın</option>
                        <option value="3">Karışık</option>
                    </select>
                </div>
               
                <div class="row mb-2"><input id="TelInput" type="tel" class="form-control"  name="telno" placeholder="Telefon" ></div>
                <div class="row mb-2"><input id="UniBolum" type="text" class="form-control"  name="unibolum" placeholder="Bölüm" ></div>
                <div class="row mb-2"><textarea id="BioInput" class="form-control"  name="bio" placeholder="Bio" rows="3" ></textarea></div>
                <div class="row mb-2" style="text-align: left;"><button class="btn btn-primary" type='submit'>Guncelle</button></div>
            
            </div>
            <div class="col-md-4 mt-4">
                    <div class="input-group mb-2 mr-sm-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text">@</div>
                        </div>
                        <input type="text" class="form-control" id="EmailInput" type="text" class="form-control"  name="email" placeholder="E-Mail">
                    </div>
                    <div class="row mb-2"><div class="col"><input id="AdInput" type="text" class="form-control"  name="ad" placeholder="İsminiz"></div></div>
                    <div class="row mb-2"><div class="col"><input id="SoyAdInput" type="text" class="form-control"  name="soyad" placeholder="Soy İsminiz"></div></div>
                    <div class="row mb-2"><div class="col"><input id="YasInput" type="text" class="form-control"  name="yas" placeholder="Yaşınız"></div></div>
                    <div class="row mb-2"><div class="col"><input id="SifreInput"  type="password" aria-describedby="passwordHelpInline" class="form-control"  name="sifre" placeholder="Şifre"></div></div>
                    
                    
                
                </div>
           
            
        </form>
  
</div>
