<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div ><img class="rounded-circle" width="200px" height="200px" src="/img/Mor-carausel.jpg"/> </div>
        </div>
        <div class="col-md-9">     
            <ul class="list-inline">
                <li><a style="color:rgb(9, 2, 70); font-size: 18px;"><strong>Sakarya Üniversitesi</strong></a></li>
                <li><a style="color:rgb(15, 121, 15)"><strong><%=user.ad%> <%=user.soyad%></strong></a></li>
                <li><a><%=user.email%> </a></li>
                <li><a><strong><%=user.yas%></strong></a></li>
                
            </ul>         
        </div>
    </div>
</div>