<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>SakbisApp</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="shortcut icon" href="/img/logo.png" />
</head>
<body>
    <div class="modal fade" id="Kullanimsartlari" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <img src="/img/logo.png"/>
                <h5 class="modal-title" id="exampleModalLabel">SakbisApp</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Kapat">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <strong>SakbisApp</strong> sitesi verilerinizi herhangi biriyle paylaşmaz.<br>
                KVKK kanunu gereğince siz izin vermedikçe verilerinizle herhangi bir işlem gerçekleştirmez.<br>
                Uygulamamız moderotörler tarafından denetlenmektedir.<br>
                Sahte program doldurma, insanları trolleyerek ekleme gibi <br>
                uygulamanın işlevi dışında kullanımı tespit edilen kullanıcılar<br>
                moderatörlerimiz tarafından banlanacaktır.

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
            </form>
            </div>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>


        <a class="navbar-brand" href="/"><img src="/img/logo.png"/>SakbisApp</a>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link" href="/">Anasayfa <span class="sr-only">(current)</span></a>
            </li>
            <% if(user){%>
            <li class="nav-item">
              <a class="nav-link" href="/userApp/grupgirisi">Grub Girişi</a>
            </li>
            <% } else{ %> <% } %>
            <li class="nav-item">
              <a class="nav-link disabled"  data-toggle="modal" data-target="#Kullanimsartlari">Kullanım Şartları</a>
            </li>
          </ul>


            <% if(user){%>
              <div class="dropdown">
                <button class="btn btn-outline-light" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <img src="/img/notif.png"/>
                  <span id="duyurusayisi" class="badge badge-info"></span>
                </button>
                <div id="dropduyuru" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <!-- Buraya listelenecek -->
                </div>
              </div>

       
               <form class="form-inline my-2 my-lg-0  mr-3" action="/userApp/search/">
                  <input name="searchbyPeer" list="searchbyPeerLIST" type="search" class="form-control" id="searchbyPeer" placeholder="Biriyle karşılaştır...">
                  <datalist id="searchbyPeerLIST">
                  </datalist>
                </form>
             <% } %>
           
          <!-- Programın Kodlanışına Göre Burası ya kaldırılacak, yada  if else yapısıyla kontrol edilecek. -->
          <form class="form-inline my-2 my-lg-0">
            <% if(user){%>
              <a class="btn btn-primary my-2 my-sm-0" type="submit" href="/userApp/Profil">Profil</a>
              <a class="btn btn-danger my-2 my-sm-0" type="submit" href="/L/cikis">Çıkış</a>
            <% } else{ %>
              <a class="btn btn-primary my-2 my-sm-0" type="submit" href="/L/giris">Giriş</a>
              <a class="btn btn-success my-2 my-sm-0" type="submit" href="/L/kayitol">Kayıt Ol</a>
            <% } %>
          </form>

        </div>
      </nav>
    <%- body %>


  <script type="application/javascript" src="/js/jquery-3.3.1.min.js"></script>
  <script type="application/javascript" src="/js/jquery-1.10.2.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/jquery.cookie.js"></script>
  <script type='text/javascript' src="/js/main.js"></script>
  <script type='text/javascript' src="/js/grup.js"></script>
  <script type='text/javascript' src="/js/heyjax.js"></script>
</body>
</html>
