<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>SakbisApp</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="shortcut icon" href="/img/logo.png" />   
</head>
<body>
    <div class="modal fade" id="Kullanimsartlari" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <img src="/img/logo.png"/>
                <h5 class="modal-title" id="exampleModalLabel">SakbisApp</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Kapat">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <strong>FileDeployApp</strong> sitesini kullanan herkes aşağıda yazılı kuralları kabul etmiş sayılır.<br> <strong>FileDeployApp</strong> sitesi yüklenen dosyalardan dolayı hiçbir şekilde hukuki ve cezai sorumluluk kabul etmez.Yüklenen dosyalar Türkiye Cumhuriyeti yasalarına, kişilik haklarına ve telif haklarına uygun olmalıdır.Aksi takdirde tüm sorumluluk dosyayı yükleyen kişiye ait olacaktır.<br> <strong>FileDeployApp</strong> sitesi, barındırdığı dosyaların içeriğinden ötürü doğabilecek maddi ve manevi mağduriyetlerden ve zararlardan sorumlu tutulamaz. Kullanıcı, paylaşım sistemini yasal olmayan amaçlar doğrultusunda kullanmamayı kabul eder. Telif hakkı başkasına ait olan dosyaların yüklenmesi yasaktır. Kullanıcı, Türkiye Cumhuriyeti Kanunlarına göre suç teşkil eden dosyaları yüklememeyi kabul eder.<br> <strong>FileDeployApp</strong>, yüklenilen dosyaların içerikleri ile ilgili herhangi bir sorumluluk kabul etmez.Tüm sorumluluk dosyayı yükleyene aittir.<br> <strong>FileDeployApp</strong> yüklenilen dosyaları virüs taramasına tabi tutmamaktadır.Bu yüzden indirdiğiniz dosyaları lütfen virüs taramasından geçiriniz. <br><strong>FileDeployApp</strong> sitesi barındırdığı dosyaları herhangi bir gerekçe göstermeden silebilir.Herhangi bir nedenden dolayı yada şikayet üzerine dosya silinmesi durumunda kullanıcı hiçbir hak talep edemez. <br><strong>FileDeployApp</strong> sitesi bu kuralları istediği zaman tek taraflı olarak değiştirebilir. Web sitemizi ziyaret ettiğiniz zamanlarda reklam hizmeti vermek için üçüncü taraf reklam şirketlerini kullanmaktayız. Söz konusu şirketler, bu sitelere ve diğer web sitelerine yaptığınız ziyaretlerden elde ettikleri (adınız, adresiniz, e-posta adresiniz veya telefon numaranız dışındaki) bilgileri ilginizi çekecek ürün ve hizmetlerin reklamını size göstermek için kullanabilir. Bu uygulama hakkında bilgi edinmek için ve söz konusu bilgilerin bu şirketler tarafından kullanılmasını engellemek üzere seçeneklerinizin neler olduğunu öğrenmek isterseniz
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
            </form>
            </div>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        
        
        <a class="navbar-brand" href="/"><img src="/img/logo.png"/>SakbisApp</a>
      
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link" href="/">Anasayfa <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Hakkımızda</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled"  data-toggle="modal" data-target="#Kullanimsartlari">Kullanım Şartları</a>
            </li>
          </ul>
          <!-- Programın Kodlanışına Göre Burası ya kaldırılacak, yada  if else yapısıyla kontrol edilecek. -->
          <form class="form-inline my-2 my-lg-0">
            <% if(user){%>
              <a class="btn btn-primary my-2 my-sm-0" type="submit" href="/userApp/Profil">Profil</a>
              <a class="btn btn-danger my-2 my-sm-0" type="submit" href="/L/cikis">Çıkış</a>
            <% } else{ %>
              <a class="btn btn-primary my-2 my-sm-0" type="submit" href="/L/giris">Giriş</a>
              <a class="btn btn-success my-2 my-sm-0" type="submit" href="/L/kayitol">Kayıt Ol</a>
            <% } %>
          </form>
          </form>
          
        </div>
      </nav>
    <%- body %>


  <script type="application/javascript" src="/js/jquery-3.3.1.min.js"></script>
  <script type="application/javascript" src="/js/jquery-1.10.2.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/jquery.cookie.js"></script>  
  <script type='text/javascript' src="/js/main.js"></script>
</body>
</html>